<div class="center jumbotron">
  <h1>Cantrip</h1>

  <h2>
    An online companion to the Dungeons & Dragons roleplaying game.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

	<p>
		This site is not owned or affiliated with Wizards of the Coast, which is the owner and creator 
	of Dungeons & Dragons.
	</p>