<footer class="footer">
  <small>
    This website is not affiliated with <a href="http://company.wizards.com/">Wizards of the Coast</a>, 
    the owners of the Dungeons & Dragons trademark and publisher of the Dungeons & Dragons rulebooks.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Legal",   legal_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>